.PatientNavigationContainer {
    position: fixed;
    width: 200px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    top: 17vh;
    right: 1.5%;
    height: auto;
}

.NavigationListContainer {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}

.NavigationListContainer:hover {
    background-color: rgb(214, 214, 237);
    color: #fff;
}

.PatientNavigationIcons {
    font-size: 15px;
    margin-right: 10px;
    color: rgb(132, 0, 255);
}

.NavigationListContainer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #9a9a9a;
}